.popup-container {
  height: 600px;
  width: 400px;
  padding: 10px;
  margin: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.popup {
  border-radius: 20px;
  background-color: #292630;
  height: 100%;
  width: 100%;
  padding: 20px;
}

button {
  background-color: #a93185;
  color: white;
  border-radius: 8px;
  display: block;
  padding: 10px 20px;
  margin: 10px auto;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.md {
  font-size: 0.8rem;
  display: inline-block;
  padding: 4px 8px;
  margin: 0 0 0 8px;
}

button.sm {
  font-size: 0.7rem;
  padding: 0 6px;
}

button:hover,
button:disabled {
  background-color: #a931859b;
}

.loading {
  font-size: 1.2rem;
  margin: 86px 0;
}

.account {
  display: flex;
  background-color: #513f79;
  border-radius: 8px;
  padding: 8px 16px 12px 16px;
  max-width: 650px;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.account .content {
  flex: 1 1 auto;
}

.account .reef-amount-logo {
  height: 16px;
  display: inline-block;
  margin-right: 5px;
}

.avatar {
  position: relative;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: white;
}

.avatar .avatar-image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid white;
}
