.token-card {
    width: 100%;
}

.text-btn {
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
}

.text-btn:hover {
    color: var(--secondary);
}

.token-card__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    box-shadow: var(--shadow);
    border-radius: 15px;
    padding: 15px;
    height: 10rem;
}

.token-card__wrapper-dark {
    background: #373840 !important;
}

.token-card__main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.token-card__image {
    width: 44px;
    min-width: 44px;
    height: 44px;
    min-height: 44px;
    background-size: cover;
    border-radius: 50%;
    border: none;
    transition: all 0.15s;
}

.token-card--no-balance {
    background: white;
    box-shadow: var(--shadow);
    border-radius: 15px;
    border: none;
    width: 100%;
    overflow: hidden;
}

.token-card__image:hover {
    cursor: pointer;
    filter: brightness(1.05);
}

.token-card__image:active {
    cursor: pointer;
    filter: brightness(1.25);
}

.token-card__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
}

.token-card__token-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    white-space: nowrap;
}

.token-card__token-name {
    font-size: 16px;
    line-height: 1.45;
    font-weight: 600;
    color: var(--text);
}

.token-card__token-name-dark {
    color: white !important;
}

.token-card__token-price {
    font-size: 13px;
    line-height: 1.35;
    font-weight: 500;
    color: var(--text);
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    transition: all 0.15;
}

.token-card__token-price-dark {
    color: white !important;
}

.token-card__token-price:not([disabled]):hover {
    color: var(--primary);
    cursor: pointer;
}

.token-card__aside {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}

.token-card__values {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    white-space: nowrap;
    margin: 0 25px;
}

.token-card__value {
    font-weight: 900;
    background: -webkit-linear-gradient(0deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.35;
    font-size: 18px;
    border: none;
}

.token-card__value--hidden {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.token-card__value--hidden div {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary);
    margin-left: 3px;
    animation: dashboard-balance-hidden-dot 0.15s;
}

.token-card__amount {
    font-size: 13px;
    line-height: 1.35;
    font-weight: 500;
    color: var(--text);
    border: none;
    background-color: transparent;
    margin-top: 2rem;
}

.token-card__amount-dark {
    color: white !important;
}

.token-card__value:hover,
.token-card__amount:hover {
    cursor: initial;
}

.token-card__value--hidden:hover,
.token-card__amount--hidden:hover {
    cursor: pointer;
}

.token-card__amount--hidden {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-top: 7px;
    margin-bottom: -1px;
    cursor: pointer;
    margin-top: 20px;
}

.token-card__amount--hidden div {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--text-light);
    margin-left: 3px;
    animation: dashboard-balance-hidden-dot 0.15s;
}

.token-card .uik-button .uik-button__icon {
    margin-left: -2px;
}

.token-card .uik-button {
    margin-left: 15px;
}

.uik-button {
    margin-left: 8px !important;
}

.token-card+* {
    margin-top: 15px;
}

.token-card--skeleton .token-card__image {
    background-color: var(--border-color);
}

.token-card--skeleton .token-card__token-name,
.token-card--skeleton .token-card__token-price {
    width: 200px;
    height: 10px;
    border-radius: 99px;
    background-color: var(--border-color);
}

.token-card--skeleton .token-card__token-price {
    width: 100px;
    margin-top: 10px;
}

.token-card--skeleton-dark .token-card__image {
    background-color: #9b9c9f !important;
}

.token-card--skeleton-dark .token-card__token-name,
.token-card--skeleton-dark .token-card__token-price {
    width: 200px;
    height: 10px;
    border-radius: 99px;
    background-color: #9b9c9f !important;
}

.token-card--skeleton-dark .token-card__token-price {
    width: 100px;
    margin-top: 10px;
}

.token-card__values .token-card__value {
    font-weight: 900;
    background: -webkit-linear-gradient(0deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.35;
    font-size: 18px;
    border: none;
    margin-bottom: -50px;
}

.uik-slider .uik-slider__slider .uik-slider__helpers .uik-slider__helper {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    left: calc(var(--position)* 1% - 4.5px);
    width: 9px;
    height: 9px;
    padding: 5px !important;
    background: hsl(220deg, 27.2727272727%, calc(93.5294117647% - 5%));
    border: none;
    border-radius: 50%;
    transition: box-shadow .15s, background-color .15s;
}

.send__address input {
    background-color: #e6e2f1;
    border: none;
    border-radius: 15px;
    color: var(--text);
    font-family: var(--font);
    font-size: 15px;
    font-weight: 500;
    height: 70px;
    line-height: 1.2;
    padding: 0 17px 1px 71px;
    transition: all .125s;
    width: 100%;
}

.send__address .send__address-identicon {
    background-color: #dad5eaad;
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
    pointer-events: none;
}

.uik-pool-actions .uik-pool-actions-token .uik-pool-actions-token__token {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0 15px 15px;
    margin-left: 10px;
    background-color: transparent !important;

}

.uik-pool-actions-token__symbol {
    color: #373840 !important;
}

.uik-pool-actions-token__amount {
    color: #373840 !important;
}

.token-activity .card.card-bg-light {
    background-color: white;
}

.token-activity .card {
    box-shadow: var(--shadow);
    border-radius: 15px;
    border: none;
    width: 100%;
    overflow: hidden;
}

.token-activity__title {
    padding-left: 0;
}

.no-token-activity {
    padding: 1.75rem 1rem;
    text-align: center;
    width: 100%;
    color: var(--text);

}

.no-token-activity--dark {
    color: var(--text-light);
    background: #373840;
}

.token-activity-skeleton {
    width: 100%;
    height: 82px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 13px;
}

.token-activity-skeleton__icon {
    border-radius: 10px;
    width: 3.5em;
    min-height: 3.5em;
    min-width: 3.5em;
    background-color: var(--border-color);
}

.token-activity-skeleton+.token-activity-skeleton {
    border-top: solid 1px var(--border-color);
}

.token-activity-skeleton__info {
    margin-left: 1em;
    flex-grow: 1;
}

.token-activity-skeleton__title {
    height: 1rem;
    border-radius: 99px;
    background-color: var(--border-color);
    width: 30%;
    min-width: 90px;
}


.token-activity-skeleton__subtitle {
    margin-top: 8px;
    height: 0.75rem;
    border-radius: 99px;
    background-color: var(--border-color);
    width: 60%;
    min-width: 110px;
}

.token-activity-skeleton__amount {
    width: 60px;
    height: 1.625rem;
    border-radius: 99px;
    background-color: var(--border-color);
    margin-right: 5px;
}

.activity {
    margin-top: 25px;
}

.activity__head {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 23px;
}

.activity__title {
    padding-left: 2px;
}

.activity__open-explorer-btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--primary);
    padding: 5px;
    text-decoration: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ae27a5;
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--primary);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.settings-modal-base {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 20px 16px;
    border-radius: 1rem;
    width: 54vw;
    box-shadow: rgba(0, 0, 0, 0.47) 0px 0px 10px;
}

.settings-modal--dark {
    background-color: #373840;
}

.settings-modal {
    background-color: #f3f1f9;
}

.settings-modal-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.8rem;
    cursor: pointer;
}

.theme-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.font-thin {
    font-weight: 100 !important;
}

.full-width {
    width: 100%;
}

*+.uik-divider,
.uik-divider+* {
    margin-top: 20px;
}

select .dark-select {
    background: rgb(26, 27, 32);
}


.uik-button-dark {
    margin-left: 8px !important;
    background-color: #372838 !important;
}

.account-options {
    padding: 8px 4px;
    width: 40vw;
    position: absolute;
    background-color: #f3f1f9;
    top: 4rem;
    right: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 11%) 0px 0px 10px;
}

.account-options--dark {
    background-color: #373840;
}

.account-options-item {
    padding: 4px 0px;
    border-radius: 0.25rem;
}

.account-options-item:hover {
    cursor: pointer;
}

.danger-item {
    color: #e73644 !important;
}

.hide-scrollbar {
    overflow: auto;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.token-card__btn-group {
    display: flex;
}

.token-card__wrapper-upper-child {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.overlay-action__wrapper-dark {
    background-color: #3b3b3be6 !important;
}


/* new */

.overlay-action__title-base {
    font-size: 1.625rem;
    line-height: 1.2;
    font-weight: 500;
}

.overlay-action__title {
    color: hsla(var(--text--h),
            var(--text--s),
            var(--text--l),
            0.9);
}

.overlay-action__title-dark {
    color: white !important;
}


.overlay-action__close-btn-dark {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    min-width: 54px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    transition: all 0.125s;
    color: white;
    box-shadow: none;
}

.overlay-action__close-btn-dark:hover {
    color: white;
    cursor: pointer;
}

.overlay-action__close-btn-dark:active {
    color: white;
}

.overlay-swap-dark .overlay-action__wrapper {
    background: hsla(var(--bg--h),
            var(--bg--s),
            var(--bg--l),
            0.9);
}

.overlay-swap-dark .overlay-action__close-btn {
    background-color: #26272c;
}

.overlay-swap-dark .overlay-action__content {
    max-width: 600px;
}

.overlay-swap-dark .overlay-action__slot {
    align-items: center;
    padding-top: 60px;
}

.overlay-swap-dark .uik-pool-actions {
    box-shadow: none;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    margin-right: 0;
}

.overlay-swap-dark .uik-pool-actions__tokens {
    margin-top: 0;
}

.nft-name--modal {
    font-size: x-large;
    font-weight: bold;
}

.nft-iconurl {
    max-width: 250px;
    border-radius: 20px;
    margin-top: 15px;
}

.nft-iconurl-small {
    max-width: 50%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.send-nft-view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nfts__item-video-small {
    max-width: 50%;
}

.nft-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-table {
    padding: 6px;
    font-size: 14px;
    background-color: #e6e2f1;
    margin-top: 8px;
    border-radius: 10px;

}

.display-table-label {
    font-weight: bold;
    color: #a93185;
}

.nft-box-send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.nft__button {
    outline: none;
    border: none;
}

.nft-hidden {
    display: none;
}

.send__address {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 6px;
}

.send__address-input {
    width: 100%;
    border-radius: 15px;
    border: none;
    background-color: #e6e2f1;
    transition: all 0.125s;
    height: 70px;
    padding: 0 17px 1px 71px;
    font-family: var(--font);
    font-size: 15px;
    color: var(--text);
    font-weight: 500;
    line-height: 1.2;
}

.send__amount-input {
    width: 100%;
    border-radius: 15px;
    border: none;
    background-color: #e6e2f1;
    transition: all 0.125s;
    height: 70px;
    padding: 0 17px 1px 17px;
    font-family: var(--font);
    font-size: 15px;
    color: var(--text);
    font-weight: 500;
    line-height: 1.2;
}

.send__address .send__address-identicon {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #dad5eaad;
    border-radius: 10px;
    pointer-events: none;
}

/* this one is override for send */
.uik-pool-actions-dark {
    background-color: #26272c !important;
}

.uik-pool-actions-token__symbol-dark {
    color: white !important;
}


.uik-pool-actions-token-dark {
    background-color: #373840 !important;
}

.uik-pool-actions-token--select-dark {
    background-color: #373840 !important;
    color: white !important;
}

.pool-actions__summary-dark {
    background-color: #373840 !important;
    color: white !important;
}

.dark-dropdown {
    background-color: #373840 !important;
}

.uik-pool-actions-token__amount-dark {
    color: white !important;
}

.summary-light-text {
    color: white !important;
}

.send__address-dark input {
    background-color: rgb(55 56 64) !important;
    color: white !important;
}

.send__address-dark input:hover {
    background-color: rgb(55 56 64) !important;
}

.send__address-dark input:focus {
    background-color: rgb(55 56 64) !important;
}

.uik-pool-actions__cta.uik-button--disabled.dark-btn {
    background: #373840;
    color: hsla(224.2105263158deg, 8.7557603687%, 57.4509803922%, 0.6);
    box-shadow: none;
}


.uik-pool-actions-token__select-dropdown-token img {
    width: 2rem;
}


.uik-dropdown.uik-pool-actions-token__select-dropdown .uik-dropdown__overlay {
    display: none;
}

.uik-pool-actions-token-dark .uik-pool-actions-token__price {
    color: white !important;
}

.uik-pool-actions-token__select-dropdown .uik-dropdown__dropdown {
    max-height: calc(100vh - 400px);
    overflow: auto;
    overflow-x: hidden;
    width: 14rem !important;
}
